{% extends 'main.html' %}

{% block content %}
<style>
    h6 {
    color: navy;
  }
</style>

<div class="container">
    <h2>โปรดส่งใครมาช่วยฉันที</h2><p>
    <h6>ส่งเรื่องราวของคุณมา แล้วเราจะติดต่อกลับไป</h6>
    <input type="text" size="50" id="txtMessage" name="txtMessage" placeholder="ข้อความที่จะฝากไว้ให้เธอ"> <p></p>
    <input type="text" size="50" id="txtName" name="txtName" placeholder="บอกชื่อเธอกับฉัน"> <p></p>
    <button class="button-1" id="btnSendMsg" >ส่ง</button>
</div>

{% endblock %}